.board-details-container {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .board-menu-container {
        height: calc(100vh - 40px);
        transform: translateX(120%);
        position: fixed;
        transition: transform ease-out 0.6s;
        width: 300px;
        top: $header-hight;
        right: 0;
        left: unset;
        &.open-menu {
            transform: translateX(0);
        }
        background-color: $elem-bgc;
        padding: 8px 2px 8px 10px;

        .menu-header,
        .board-menu-controllers {
            border-bottom: 1px solid #091e4221;
            padding: 12px 0;
        }
        .menu-header {
            font-size: 1.1em;
            font-weight: 600;
        }
        .board-menu-sub {
            padding: 6px;
        }
        .bg-type-header {
            text-transform: capitalize;
        }
        .icon {
            margin-inline-end: 8px;
        }
        .activities-container{
          overflow-y: auto;
          // height: 100%;
          
        }
    }
}

.board-container {
    padding: 8px;
    height: calc(100vh - 80px);
    overflow-x: auto;
}
