.card-modal {
    .modal-screen {
        overflow-x: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .card-details-container {
        position: relative;
        min-height: 600px;
        height: min-content;
        width: 768px;
        box-shadow: 0 0 2px rgb(0, 0, 0);
        background-color: #f3f4f6;
        border-radius: 3px;
        padding-inline-start: 16px;
        padding-inline-end: 16px;
        padding-top: 20px;
        margin-top: 48px;
        margin-bottom: 80px;

        .close-card {
            position: absolute;
            right: 5px;
            top: 5px;
        }
        .card-title {
            width: 88%;
            h3 {
                padding-inline-start: 4px;
                line-height: 1.5;
                min-height: 32px;
                font-weight: 600;
                font-size: 1.2em;
                &[contenteditable]:focus {
                    // TODO: set focus properties
                }
            }
            small span {
                color: $light-text;
                text-decoration: underline;
            }
            margin-bottom: 20px;
        }

        main.main-card-details {
            .card-content-container {
                margin-inline-end: 10px;
                .details-section {
                    margin-bottom: 36px;
                    .details-section-header {
                        margin-bottom: 5px;
                        font-weight: 700;
                    }
                }
                .details-section-labels {
                    margin-bottom: 16px;
                }
            }
            .card-controllers-container {
                padding-inline-start: 16px;
                width: 168px;

                .popup-menu {
                    padding: 12px;
                    padding-top: 0;
                    min-width: 220px;
                    left: 32px;
                    top: 35px;
                    transform: translate(0, 0);
                    .close-btn {
                        top: 8px;
                    }
                }
            }
        }
    }
}
