* {
    box-sizing: border-box;
    user-select: none;
}

html {
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
        sans-serif;
    line-height: 20px;
    color: #606060;
}

body {
    margin: 0;
    // text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-size: 1em;
    font-weight: unset;
}

a {
    text-decoration: none;
    color: inherit;

    &:focus {
        outline: none;
    }
}

button {
    all: unset;
    cursor: pointer;
}

textarea,
input[type='text'] {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    padding: 4px 8px;
    resize: none;
}

.add-text {
    input {
        border: none;
        width: 256px;
        border-radius: 3px;
        margin: 8px;
        margin-bottom: 0;
        color: #5d5d5d;
        box-shadow: 0 1px 0 #091e4240;
    }
}

.list-basic {
    background-color: $elem-bgc;
    height: fit-content;
    width: 272px;
    border-radius: 3px;
    margin: 0 4px;
}

.popup-menu {
    position: absolute;
    border-radius: 3px;
    box-shadow: -8px -8px 16px -4px #091e4240, 8px 8px 16px -4px #091e4240;
    background-color: #fff;
    padding: 4px;
    min-width: 180px;
    transform: translate(50%, -50%);
    z-index: 10;
    h3 {
        border-bottom: 1px solid #091e4221;
        padding: 4px;
        margin-bottom: 4px;
        text-align: center;
    }
}

.close-menu-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}
