.btn-header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 100%, 0.3);
    color: #fff;
    height: 32px;
    margin: 4px;
    // font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}
.btn-header:first-child {
    margin-inline-start: 8px;
}
.hover-bg-btn {
    transition: background-color 0.4s;
    border-radius: 3px;
    &:hover {
        background-color: $elem-bgc;
    }
}
.square-btn {
    min-width: 32px;
    max-width: 32px;
    height: 32px;
}

.list-btn {
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.4s;
    &:hover {
        background-color: rgba(65, 65, 65, 0.13);
    }
}

.save-btn {
    background-color: #5aac44;
    color: #fff;
    padding: 6px 12px;
    border-radius: 3px;
    &:hover {
        background-color: #5bac44d5;
    }
}
.open-add-card-btn {
    min-width: fit-content;
    width: calc(100% - 32px);
    padding: 4px 8px;
    margin: 2px 0 8px 8px;
}
.open-add-list-btn {
    padding: 8px;
    // width: calc(100% - 16px);
    width: 256px; // Not OK
    // width:100%;

    color: white;
}
.save-card {
    padding: 8px;
}
.common-card-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.details-btn {
    // line-height: 20px;
    display: flex;
    align-items: center;
    line-height: 1;
    border-radius: 3px;
    background-color: rgba(9, 30, 66, 0.08);
    padding: 6px 12px;
    font-weight: 400;
    transition: background-color 0.4s ease;

    &:hover {
        background-color: rgba(9, 30, 66, 0.122);
        cursor: pointer;
    }
}

.due-date-btn button {
    position: relative;
    margin-inline-start: 40px;
    &.done {
        background-color: #61bd4f;
        color: white;
    }
}

// .due-date-btn:hover {
//     color: rgba($color: $text, $alpha: 0.1);
//     transition: color 0.4s;
//     transition: opacity 0.4s;
//     & .hide {
//         opacity: 1;
//         transform: rotate(90deg) scale(1.2);
//         transition: transform 0.4s;
//     }
// }

.remove-btn {
    color: rgba($color: $text, $alpha: 1);
    position: absolute;
    right: 0.6em;
    transform: rotate(45deg);
}
.back-menu-btn {
    position: absolute;
    top: 7px;
    left: 12px;
    cursor: pointer;
}
.secondary-btn {
    font-size: 0.7em;
    text-decoration: underline;
}

.remove-cover-btn {
    svg {
        margin-inline-end: 4px;
    }
    color: white;
    position: absolute;
    right: 8px;
    bottom: 4px;
}
