.btn-header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 100%, 0.3);
    color: #fff;
    height: 32px;
    margin: 4px;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}
.btn-header:first-child {
    margin-inline-start: 8px;
}
.hover-bg-btn {
    transition: background-color 0.4s;
    border-radius: 3px;
    &:hover {
        background-color: $elem-bgc;
    }
}
.sqare-btn {
    min-width: 32px;
    max-width: 32px;
    height: 32px;
}

.list-btn {
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.4s;
    &:hover {
        background-color: rgba(65, 65, 65, 0.109);
    }
}

.save-btn {
    background-color: #5aac44;
    color: #fff;
    padding: 6px 12px;
    border-radius: 3px;
    &:hover {
        background-color: #5bac44d5;
    }
}
.open-add-card-btn {
    min-width: fit-content;
    width: calc(100% - 32px);
    padding: 4px 8px;
    margin: 2px 0 8px 8px;
}
.open-add-list-btn {
    padding: 8px;
    width: calc(100% - 16px);
}
.save-card {
    padding: 8px;
}
.common-card-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.details-btn {
    // line-height: 20px;
    border-radius: 3px;
    background-color: rgba(9, 30, 66, 0.08);
    padding: 6px 12px;
    font-weight: 400;
    transition: background-color 0.4s ease;

    &:hover {
        background-color: rgba(9, 30, 66, 0.122);
        cursor: pointer;
    }
}
