// FLEX
.flex {
    display: flex;
}
.flex.row {
    flex-direction: row;
}
.flex.column {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
}
.align-baseline {
    align-items: baseline;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.flex.center-center {
    align-items: center;
    justify-content: center;
}
.flex.wrap {
    flex-wrap: wrap;
}
.grow-1 {
    flex-grow: 1;
}
.grow-2 {
    flex-grow: 2;
}
.grow-3 {
    flex-grow: 3;
}

// LIST
.clean-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
// TEXT
.text-center {
    text-align: center;
}

// CARD
.left-gap {
    margin-left: 40px;
}

// DND
.ghost {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}
.drag {
    transform: rotate(4deg);
}

// Aspect ratios

.ratio-16-9 {
    @include aspect-ratio(100, 56);
}

.ratio-square {
    @include aspect-ratio(100, 100);
}

.ratio-card {
    @include aspect-ratio(100, 80);
}

.ratio-poster {
    @include aspect-ratio(100, 150);
}

.hide {
   opacity: 0;
}

.tile-container {
    height: 96px;
    background-size: cover;
    border-radius: 0.8em;
    margin-bottom: 6px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }