.flex {
    display: flex;
}
.flex.row {
    flex-direction: row;
}
.flex.column {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
}
.align-baseline {
    align-items: baseline;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.flex.center-center {
    align-items: center;
    justify-content: center;
}
.flex.wrap {
    flex-wrap: wrap
}
.grow-1 {
    flex-grow: 1;
}
.grow-2 {
    flex-grow: 2;
}
.grow-3 {
    flex-grow: 3;
}
.clean-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.text-center{
    text-align: center;
}
.m-2{
    margin: 2px;
}
.m-4{
    margin: 4px;
}
.m-8{
    margin: 8px;
}
.mb-2{
    margin-bottom: 2px;
}
.mb-4{
    margin-bottom: 4px;
}
.mb-8{
    margin-bottom: 8px;
}





// Aspect ratios

.ratio-16-9 { @include aspect-ratio(100, 56); }

.ratio-square { @include aspect-ratio(100, 100); }

.ratio-card { @include aspect-ratio(100, 80); }

.ratio-poster { @include aspect-ratio(100, 150); }