.main-app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .main-view-container {
    flex-grow: 1;
  }
  .main-layout-container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
