

// COLOR PALETTE

$elem-bgc: #ebecf0;

$hover-btn: #091e420a;
$text: #5d5d5d;
$light-text: #909090;

// $neutral: #ffffff;


$btn: #7b8b8b;
// $border: #457b9d;
// $pop: #654062;

//BREAKING POINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;