.action-list-container {
    top: 95px;
    right: 28px;
    button {
        padding: 6px 0;
        padding-inline-start: 16px;
        &:hover {
            background-color: $hover-btn;
        }
    }
    .close-menu-btn {
        top: 12px;
    }
}
