.card-preview-container {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 3px;
    color: #5d5d5d;
    box-shadow: 0 1px 0 #091e4240;
    margin-bottom: 8px;
    overflow-x: hidden;
    word-break: break-all;
    cursor: pointer;
    padding: 8px;

    &.ghost {
        * {
            opacity: 0;
        }
        &::before {
            background-color: darken($elem-bgc, 5%);
        }
    }
    .card-preview-symbols {
        font-size: 0.75em;
        padding: 4px;
        padding-inline-start: 0;
        
        .symbol {
            margin-inline-end: 0.7em;
            padding: 2px;
            padding-inline-start: 0;
        }
        .symbol-icon {
            margin-inline-end: 2px;
        }
        .due-date-badge {
            border-radius: 2px;
            padding-inline: 6px;
        }
    }
}

.card-preview {
    width: 100%;
    font-weight: 400;
}

.remove-card-preview {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: transparent;
    transition: color 0.4s;
}

.card-preview-container:hover > .remove-card-preview {
    color: #b5b5b575;
}
