.card-list-container {
    position: relative;
    color: #5d5d5d;
    max-height: calc(100vh - 120px);
}
.card-list {
    margin: 0 4px;
    padding: 0 4px;
    height: 100%;

    .add-card-title-input {
        padding-bottom: 8px;
        textarea {
            border-radius: 3px;
            padding: 8px;
            color: #5d5d5d;
            box-shadow: 0 1px 0 #091e4240;
            border: none;
            outline: none;
            resize: none;
        }
    }
}

.list-header {
    padding: 8px 10px 4px;
    margin-bottom: 4px;
    .list-title {
        width: 100%;
        padding: 5px;
    }
    .list-menu {
        padding: 4px 8px;
        font-size: 1.3rem;
        box-sizing: content-box;
    }
}
